body, table, td, tr, p, img, form, h1, h2, div, a
{
	margin: 0px;
	padding: 0px;
}
p, h1, h2, a, button
{
	font-family: sans-serif;
	font-size: 12pt;
}
h2
{
	font-size: 16pt;
	text-transform: uppercase;
	padding-bottom: 16px;
}
button
{
	font-size: 16pt;
	padding: 4px 12px 4px 12px;
	text-transform: uppercase;
	cursor: pointer;
}
.left
{
	float: left;
}
.right
{
	float: right;
}
.clear
{
	clear: both;
	height: 0px;
	line-height: 0px;
}
#main-cont
{
	position: relative;
	padding: 0px 5% 0px 5%;
}
#error-text
{
	text-align: center;
	color: red;
	font-weight: bold;
	padding-top: 16px;
}
#nav
{
	text-align: right;
	padding-top: 20px;
	padding-bottom: 20px;
}
#nav button
{
	margin-left: 16px;
}
#menu
{
	float: left;
	width: 68%;
}
#menu .item
{
	font-size: 14pt;
	text-transform: none;
	position: relative;
	vertical-align: middle;
	display: inline-block;
	width: 200px;
	height: 100px;
	margin: 16px;
	text-align: center;
	cursor: pointer;
}
#order-cont
{
	float: right;
	width: 30%;
	position: relative;
}
#order-cont .title
{
	font-weight: bold;
}
#order-cont .view
{
	border: 1px solid #323232;
	margin-top: 8px;
	padding-top: 8px;
	padding-bottom: 132px;
	margin-bottom: 16px;
	position: relative;
	min-height: 250px;
}
#order-cont .view .line
{
	position: relative;
	cursor: default;
}
#order-cont .view .line:not(.total):not(.selected):hover
{
	background: #CFCFCF;
}
#order-cont .view .line.selected
{
	background: #CFEFCF;
}
#order-cont .view .line .price
{
	float: right;
}
#order-cont .totals
{
	position: absolute;
	left: 0px;
	bottom: 8px;
	width: 100%;
}
#order-cont .view .line
{
	padding: 2px 8px 2px 8px;
}
#pay-now
{
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.45);
}
#pay-now .inner
{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 80%;
	max-width: 400px;
	padding: 20px 0px 20px 0px;
	text-align: center;
	background: #CFCFCF;
	border: 2px solid #000000;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
}
#pay-now .cols
{
	width: 80%;
	max-width: 240px;
	position: relative;
	margin: auto;
}
#pay-now p
{
	text-align: right;
	line-height: 200%;
}
#pay-now p.left
{
	width: 70%;
}
#pay-now p.right
{
	width: 28%;
}
#pay-now input
{
	width: 40px;
	text-align: right;
}
table
{
	border-collapse: collapse;
	border: 1px solid #323232;
}
th, td
{
	text-align: left;
	padding: 4px 10px 4px 10px;
	border-left: 1px solid #323232;
	border-right: 1px solid #323232;
}
table tr:nth-child(even)
{
	background: #CFCFCF;
}
table tr:nth-child(odd)
{
	background: #EFEFEF;
}
table tr:nth-child(1)
{
	background: #AFAFAF;
}
#nav .left-nav
{
	float: left;
}
#nav .left-nav button
{
	margin-left: 0px;
	margin-right: 16px;
	background: #AFAFAF;
}
#nav .left-nav button.toggled
{
	background: #AFFFAF;
}
#orders-table
{
	width: 100%;
	margin-bottom: 40px;
	cursor: default;
}
#orders-table tr td:nth-child(1)
{
	width: 15%;
}
#orders-table tr td:nth-child(2)
{
	width: 34%;
}
#orders-table tr td:nth-child(3)
{
	width: 32%;
}
#orders-table tr td:nth-child(4)
{
	width: 15%;
}
#orders-table tr:hover td
{
	background: #EFFFEF;
}
#import-view
{
	text-align: center;
}
#import-view .inner
{
	width: 80%;
	max-width: 500px;
	margin: auto;
	text-align: left;
}
#import-view p
{
	line-height: 200%;
}
