RewriteEngine on

RewriteRule ^([^/]+)/([^/]+)/$ api.php?api=$1&collection=$2 [L,B]
RewriteRule ^([^/]+)/([^/]+)/([^/]+)$ api.php?api=$1&collection=$2&item=$3 [L,B]
RewriteRule ^([^/]+)/([^/]+)/([^/]+)/([^/]+)$ api.php?api=$1&collection=$2&item=$3&subitem=$4 [L,B]
